<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CS448B Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>
  <body>
    <div class="top-bar">
      <% if (question_shown <= 2) { %>
        <p class="top-bar-text">Warm up <%= question.question %></p>
      <% } else { %>
        <p class="top-bar-text">Question <%= question.question %></h2>
      <% } %>
    </div>

    <div class="container">
      <div class="content">
        <div id="visualization" style="height: 600px; width: 800px; margin: 0 auto; display: block;"></div>
        <div id="slider" style="margin: 30px; height: 600px; width: 800px; display: block;">
          <div id="custom-handle" class="ui-slider-handle"></div>
        </div>
        <div style="height: 600px; width: 800px; margin: 0 auto; display: block;">
          <form name="form-question" class="option-text" action="/experiment/<%= question_shown + 1 %>" method="post">
            <div class="question">
              <p class="question-text"><b>Q<%= question_shown %>:</b> <%= question %></p>
              <input type="hidden" name="participantId" value="<%= participantId %>">
              <input type="hidden" name="firstTime" id="firstTime" value="0">
              <input type="hidden" name="lastTime" id="lastTime" value="0">
              <input type="hidden" name="reluctance" id="reluctance" value="0">
              <input type="hidden" name="result" id="result" value="0">
              <% for (var i = 0; i < options.length; i++){ %>
                <input type="radio" name="answer" value="<%= i %>" class="options" required> <%= options[i] %> <br>
              <% } %>
            </div>
            <button type="submit" class="btn btn-primary btn-submit form-control form-control-big">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
  // This script manages the user's data for further analysis.
  var radios = document.getElementsByClassName("options");
  var firstTime = document.getElementById("firstTime");
  var lastTime = document.getElementById("lastTime");
  var reluctance = document.getElementById("reluctance");
  var result = document.getElementById("result");
  for (var i = 0; i < radios.length; i++) {
    radios[i].onchange = (e) => {
      if (parseFloat(firstTime.value) < 1) firstTime.value = e.timeStamp;
      lastTime.value = e.timeStamp;
      reluctance.value = parseInt(reluctance.value) + 1;
      if(parseInt(e.target.value) == <%- JSON.stringify(correctAnswer) %>){
        result.value = 1;
      } else {
        result.value = 0;
      }
    }
  }
  </script>

  <script>
  // Slider Bar
  $( function() {
    var handle = $( "#custom-handle" );
    $( "#slider" ).slider({
      min: 0,
      max: 8,
      step: 1,
      create: function() {
        handle.text( $( this ).slider( "value" ) );
      },
      slide: function( event, ui ) {
        handle.text( ui.value );
      }
    });
  } );
  </script>

  <script type="text/javascript">
  // d3 Implementation
  var data = <%- JSON.stringify(data) %>;
  var visualization = <%- JSON.stringify(visualization) %>;

  function warmup(data){
    $("#slider").hide();
  }

  function barPlotSlideBar(data){

  }

  function barPlotSmallMultiple(data){
    $("#slider").hide();
  }

  function scatterPlotSlideBar(data){

  }

  function scatterPlotSmallMultiple(data){
    $("#slider").hide();
  }

  switch (visualization) {
    case "w":
      warmup(data);
      break;
    case "bs":
      barPlotSlideBar(data);
      break;
    case "bsm":
      barPlotSmallMultiple(data);
      break;
    case "ss":
      scatterPlotSlideBar(data);
      break;
    case "ssm":
      scatterPlotSmallMultiple(data);
      break;
    default:
      console.log(Shou)
  }
  console.log(data);
  console.log(visualization);


  </script>
</html>
