<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS448B Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
  </head>
  <body>
    <div class="top-bar">
      <% if (question <= 3) { %>
        <p class="top-bar-text">Warm up <%= question.question %></p>
      <% } else { %>
        <p class="top-bar-text">Question <%= question.question %></h2>
      <% } %>
    </div>

    <div class="container">
      <div class="content">
        <div id="visualization">
          <img src="../images/<%= examType %>-<%= parseInt((parseInt(question.question, 10) + 2)/3, 10) %>.png" alt="" height="600" width="1000">
        </div>
        <div>
          <form name="form-question" class="option-text" action="/experiment/<%= nextQuestion %>" method="post">
            <div class="question">
              <p class="question-text"><b>Q<%= question.question %>:</b> <%= question.description %></p>
              <input type="hidden" name="participantId" value="<%= participantId %>">
              <input type="hidden" name="firstTime" id="firstTime" value="0">
              <input type="hidden" name="lastTime" id="lastTime" value="0">
              <input type="radio" name="answer" value="A" class="options" required> <%= question.option1 %> <br>
              <input type="radio" name="answer" value="B" class="options"> <%= question.option2 %> <br>
              <input type="radio" name="answer" value="C" class="options"> <%= question.option3 %> <br>
              <input type="radio" name="answer" value="D" class="options"> <%= question.option4 %> <br>
            </div>
            <button type="submit" class="btn btn-primary btn-submit form-control form-control-big">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="../scripts/timing.js"></script>
</html>
